<!DOCTYPE html>
<html data-theme="night">
  <head>
    <meta charset="utf-8" />
    <title>Track Window</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        daisyui: {
          themes: ["night"],
        },
      };
    </script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="track-container" class="bg-base-100">
      <div id="controls">
        <div class="control-group">
          <label for="bpm-input">BPM:</label>
          <input type="number" id="bpm-input" value="120" min="60" max="200" />
        </div>
        <div class="control-group">
          <label for="delay-input">Delay (ms):</label>
          <input
            type="number"
            id="delay-input"
            value="0"
            min="0"
            max="5000"
            step="50"
          />
        </div>
        <button id="play-button" class="btn btn-primary min-h-0 h-8">
          Play
        </button>
        <button id="stop-button" class="btn btn-error min-h-0 h-8">Stop</button>
        <div class="control-group">
          <label for="click-toggle">Click to Play:</label>
          <input type="checkbox" id="click-toggle" />
        </div>
      </div>
      <div id="lane-container">
        <div id="track-lane">
          <!-- トラックに追加されたブロックがここに表示される -->
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
